
<div class="container-fluid text-center mt-5">
    <h2></h2>
    <table class="table">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
         
        </tr>
      </tbody>
    </table>
  </div>
  


<p>heros-list works!</p>
